PRIVATE_KEY=
TEST_MODE=UNIT_TEST

################### NOTICE ###################

 This project uses symsec for secrets management.
 Do NOT store sensitive values in this file.

 To manage secrets, use the symsec tool:
    https://zxcode.xyz/balthy/symsec

 Usage(step-by-step):
    symsec --project options-core init
    symsec --project options-core add PRIVATE_KEY=
    symsec --project options-core add TEST_MODE=UNIT_TEST
    symsec --project options-core list
    symsec --project options-core run npx hardhat ...
    
    more info:
        symsec -h
 The .env.example file is for reference only and should NOT contain real secrets.

package.json scripts (already configured to use symsec by default, no changes needed):

	"scripts": {
		"compile": "symsec --project options-core run npx hardhat compile",
		"test": "symsec --project options-core run npx hardhat test",
		"typechain": "symsec --project options-core run npx hardhat typechain",
		"precommit": "symsec --project options-core run yarn format && symsec --project options-core run  yarn compile && symsec --project options-core run  yarn test"
	}

##############################################
